In [1]:
import pandas as pd
marketing_data = pd.read_csv("marketing_campaign.csv", sep="\t")
marketing_data = marketing_data[['ID','Year_Birth', 'Education',
'Marital_Status','Income','Kidhome', 'Teenhome',
'Dt_Customer', 'Recency','NumStorePurchases',
'NumWebVisitsMonth']]

In [2]:
print(marketing_data.head())
# Remove duplicates across the columns in our dataset:
marketing_data.drop_duplicates(subset='ID', keep='first',inplace=True)
# Delete a specified row at index value 1:
marketing_data.drop(labels=[1], axis=0, inplace=True)
# Delete a single column
marketing_data.drop(labels=['Year_Birth'], axis=1, inplace=True)

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  NumStorePurchases  NumWebVisitsMonth
0  04-09-2012       58                  4                  7
1  08-03-2014       38                  2                  5
2  21-08-2013       26                 10                  4
3  10-02-2014       26                  4                  6
4  19-01-2014       94                  6                  5

In [3]:
print(marketing_data.head())
# Replace the values in Teenhome with has teen and has no teen
marketing_data['Teenhome'] = marketing_data['Teenhome'].replace([0,1,2],['has no teen','has teen','has teen'])
# Fill NAs in the Income column
marketing_data['Income'] = marketing_data['Income'].fillna(0)
# Change the data type of the Income column from float to int
marketing_data['Income'] = marketing_data['Income'].astype(int)

     ID   Education Marital_Status   Income  Kidhome  Teenhome Dt_Customer  \
0  5524  Graduation         Single  58138.0        0         0  04-09-2012
2  4141  Graduation       Together  71613.0        0         0  21-08-2013
3  6182  Graduation       Together  26646.0        1         0  10-02-2014
4  5324         PhD        Married  58293.0        1         0  19-01-2014
5  7446      Master       Together  62513.0        0         1  09-09-2013

   Recency  NumStorePurchases  NumWebVisitsMonth
0       58                  4                  7
2       26                 10                  4
3       26                  4                  6
4       94                  6                  5
5       16                 10                  6

In [4]:
print(marketing_data.head())
# Check for missing values using the isnull and sum methods
print(marketing_data.isnull().sum())
# Drop missing values using the dropna method
marketing_data = marketing_data.dropna(how = 'any')
marketing_data.shape

     ID   Education Marital_Status  Income  Kidhome     Teenhome Dt_Customer  \
0  5524  Graduation         Single   58138        0  has no teen  04-09-2012
2  4141  Graduation       Together   71613        0  has no teen  21-08-2013
3  6182  Graduation       Together   26646        1  has no teen  10-02-2014
4  5324         PhD        Married   58293        1  has no teen  19-01-2014
5  7446      Master       Together   62513        0     has teen  09-09-2013

   Recency  NumStorePurchases  NumWebVisitsMonth
0       58                  4                  7
2       26                 10                  4
3       26                  4                  6
4       94                  6                  5
5       16                 10                  6
ID                   0
Education            0
Marital_Status       0
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
Recency              0
NumStorePurchases    0
NumWebVisitsMonth    0
dtype: int64

(2239, 10)